{% block content %}

	<P><a href="{{ url_for('home') }}">< Home page</a></P>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
		<legend>{{ legend }}</legend>
		{% if show_type == 'movie' %}
		<br><b># what</b></br>
 		<div class="form-group">
                    {{ form.shows.label(class="form-control-label") }}
                    {{ form.shows(class="form-control form-control-lg") }}
                </div>
 		<div class="form-group">
                    {{ form.years.label(class="form-control-label") }}
                    {{ form.years(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.max_downloads.label(class="form-control-label") }}
                    {{ form.max_downloads(class="form-control form-control-lg") }}
                </div>
 		<div class="form-group">
                    {{ form.max_downloads_per.label(class="form-control-label") }}
                    {{ form.max_downloads_per(class="form-control form-control-lg") }}
                </div>
		</p>
		<br><b># how</b></br>
 		<div class="form-group">
                    {{ form.sources.label(class="form-control-label") }}
                    {{ form.sources(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.resolutions.label(class="form-control-label") }}
                    {{ form.resolutions(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.max_size.label(class="form-control-label") }}
                    {{ form.max_size(class="form-control form-control-lg") }}
                </div>
		</p>
		<br><b># from</b></br>
		<div class="form-group">
                    {{ form.match_sites.label(class="form-control-label") }}
                    {{ form.match_sites(class="form-control form-control-lg") }}
                </div>
		</p>
		{% endif %}
		{% if show_type == 'tv' %}
		<br><b># what</b></br>
 		<div class="form-group">
                    {{ form.shows.label(class="form-control-label") }}
                    {{ form.shows(class="form-control form-control-lg") }}
                </div>
 		<div class="form-group">
                    {{ form.seasons.label(class="form-control-label") }}
                    {{ form.seasons(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.max_downloads.label(class="form-control-label") }}
                    {{ form.max_downloads(class="form-control form-control-lg") }}
                </div>
 		<div class="form-group">
                    {{ form.max_downloads_per.label(class="form-control-label") }}
                    {{ form.max_downloads_per(class="form-control form-control-lg") }}
                </div>
		</p>
		<br><b># how</b></br>
 		<div class="form-group">
                    {{ form.sources.label(class="form-control-label") }}
                    {{ form.sources(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.resolutions.label(class="form-control-label") }}
                    {{ form.resolutions(class="form-control form-control-lg") }}
                </div>
		<div class="form-group">
                    {{ form.max_size.label(class="form-control-label") }}
                    {{ form.max_size(class="form-control form-control-lg") }}
                </div>
		</p>
		<br><b># from</b></br>
		<div class="form-group">
                    {{ form.match_sites.label(class="form-control-label") }}
                    {{ form.match_sites(class="form-control form-control-lg") }}
                </div>
		</p>
		<br><b># tv details</b></br>
 		<div class="form-group">
                    {{ form.smartepisode.label(class="form-control-label") }}
                    {{ form.smartepisode(class="form-control form-control-lg") }}
                </div>
		{% endif %}
  	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-outline-info") }}
	</div> 
        </form>
    </div>
{% endblock content %}

