{% block content %}

	<P><a href="{{ url_for('home') }}">< Home page</a></P>
	<h1>Entry details</h1>
	</p>
	<img src="../{{ entry.image_file }}"/>
	<a href="https://www.imdb.com/find?q={{ entry.shows }}">IMDB Search</a> | 

	{% if entry.show_type == 'movie' %}
		<a href="https://www.torrentleech.org/torrents/browse/index/categories/11,37,43,14,12,13/query/{{ entry.shows }}">TL Movies Search</a>
	{% elif entry.show_type == 'tv' %}
		<a href="https://www.torrentleech.org/torrents/browse/index/categories/26,32,27/query/{{ entry.shows }} s0{{ entry.seasons }}">TL TV Search</a>
	{% endif %}
	
	<p>match-sites = {{ entry.match_sites }} </p>	
    	<p>shows = {{ entry.shows }} </p>
	<p>sources = {{ entry.sources }} </p>
	<p>resolutions = {{ entry.resolutions }} </p>
	<p>max-size = {{ entry.max_size }} </p>
	<p>max-downloads = {{ entry.max_downloads }} </p>
	<p>max-downloads-per = {{ entry.max_downloads_per }} </p>
	{% if entry.show_type == 'tv' %}
	<p>seasons = {{ entry.seasons }} </p>
	<p>smart-episode = {{ entry.smartepisode }} </p>
	{% else %}
	<p>years = {{ entry.years }} </p>
	{% endif %}
	

	
	<form action="{{ url_for('delete_entry', entry_id=entry.id) }}" method="POST">
		<input class="btn btn-danger" type="submit" value="Delete">
	
	<P><a href="{{ url_for('home') }}">< Home page</a></P>
{% endblock content %}
