{% block content %}
	
    <h1>irssi-autodl WEB</h1>
	<a href="{{ url_for('search_tmdb') }}">Add new entry</a> |
	<a href="{{ url_for('settings') }}">Settings</a>
    {% for entry in entries %}
		<p><a href="{{ url_for('entry', entry_id=entry.id) }}"></p>
		<img style="vertical-align:top" src="{{ entry.image_file }}"/>
		<span style="">{{ entry.shows }}</a></span>

		{% if check_status[entry.shows] %}
		| {{ check_status[entry.shows] }} <font color='green'><b>Downloaded</b></font>
		{% endif %}


		</div>
		</br>
    {% endfor %}
    
{% endblock content %}
