{% block content %}
	
    <h1>Search Results</h1>
	<a href="{{ url_for('home') }}">< Home</a> |
    

	{% if show_type == 'movie' %} 
	{% for s in search_results_loop %}

			{% if s['poster_path'] == None %}
			<p><a href="{{ url_for('add_new_entry', shows=s['title'], years=s['release_date'][0:4], image_file='') }}">
			<img src="static/images/default.jpg"><P>
			{% else %}
			<p><a href="{{ url_for('add_new_entry', shows=s['title'], years=s['release_date'][0:4], image_file=s['poster_path']) }}">
			<img src="https://image.tmdb.org/t/p/w200{{ s['poster_path'] }}"><P>
			{% endif %}
			{{ s['title'] }} {{ s['release_date'][0:4] }} </a></p>
	{% endfor %}
	{% endif %}
	{% if show_type == 'tv' %} 
	{% for s in search_results_loop %}
			{% if s['poster_path'] == None %}
			<p><a href="{{ url_for('add_new_entry', years='', shows=s['name'], image_file='') }}">
			<img src="static/images/default.jpg"><P>
			{% else %}
			<p><a href="{{ url_for('add_new_entry', shows=s['name'], years='', image_file=s['poster_path']) }}">
			<img src="https://image.tmdb.org/t/p/w200{{ s['poster_path'] }}"><P>
			{% endif %}

			{{ s['name'] }} {{ s['first_air_date'][0:4] }} </a></p>
	{% endfor %}
	{% endif %}
{% endblock content %}



