{% block content %}

	<P><a href="{{ url_for('home') }}">< Home page</a></P>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
				<img src="../static/images/tmdb_logo.jpg"></img><p/>
            <fieldset class="form-group">
			<legend>The Movie Database search</legend>
			<div class="form-group">
                    {{ form.show_type.label(class="form-control-label") }}
                    {{ form.show_type(class="form-control form-control-lg") }}
			</div>
			<div class="form-group">
                    {{ form.search.label(class="form-control-label") }}
                    {{ form.search(class="form-control form-control-lg") }}
            </div>
  	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-outline-info") }}
	</div> 
        </form>    

    </div>
{% endblock content %}

