{% block content %}
	
    <h1>Settings</h1>
	<p><a href="{{ url_for('home') }}">< Home page</a></p> 
	<p><a href="{{ url_for('settings_global') }}">> Global settings</a></p> 
	<p><a href="{{ url_for('settings_add_new') }}">+ Add new tracker</a></p> 

	_ _ _ _ _ _ _ _ _ _
    {% for setting in settings %}
		<P>
		<a href="{{ url_for('setting', setting_id=setting.id) }}">{{ setting.tracker_type }}</a>
		{% if setting.tracker_enabled == 'True' %}
			enabled
		{% elif setting.tracker_enabled == 'False' %}
			disabled
		{% else %}
			error
		{% endif %}
		<form action="{{ url_for('edit_setting', setting_id=setting.id) }}" method="POST">
			<input type="submit" value="Edit">
		</form>
		<form action="{{ url_for('delete_setting', setting_id=setting.id) }}" method="POST">
			<input type="submit" value="Delete">
		</form>
		_ _ _ _ _ _ _ _ _ _

    {% endfor %}
    
    
{% endblock content %}
