{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Global Settings</legend>
				<div class="form-group">
                    {{ form.upload_type.label(class="form-control-label") }}
                    {{ form.upload_type(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.upload_watch_dir.label(class="form-control-label") }}
                    {{ form.upload_watch_dir(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.auto_connect.label(class="form-control-label") }}
                    {{ form.auto_connect(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.user_name.label(class="form-control-label") }}
                    {{ form.user_name(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.real_name.label(class="form-control-label") }}
                    {{ form.real_name(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.close_nickserv.label(class="form-control-label") }}
                    {{ form.close_nickserv(class="form-control form-control-lg") }}
                </div>
			</fieldset>
	<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div> 
		</form>
	</div>
{% endblock content %}

