{% block content %}

	<P><a href="{{ url_for('settings') }}">< Settings page</a></P>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
		<legend>{{ legend }}</legend>
				<P><B>[server]</B> #configure tracker irc server</P>
				<div class="form-group">
                    {{ form.server_name.label(class="form-control-label") }}
                    {{ form.server_name(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.server_enabled.label(class="form-control-label") }}
                    {{ form.server_enabled(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.server_port.label(class="form-control-label") }}
                    {{ form.server_port(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.server_ssl.label(class="form-control-label") }}
                    {{ form.server_ssl(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.server_nick.label(class="form-control-label") }}
                    {{ form.server_nick(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.server_bnc.label(class="form-control-label") }}
                    {{ form.server_bnc(class="form-control form-control-lg") }}
                </div>
				<P><B>[channel]</B> #configure announce channel
				<div class="form-group">
                    {{ form.channel_name.label(class="form-control-label") }}
                    {{ form.channel_name(class="form-control form-control-lg") }}
                </div>
				<P><B>[tracker]</B> #configure tracker settings based on irssi-autodl
				predefined trackers
				<div class="form-group">
                    {{ form.tracker_type.label(class="form-control-label") }}
                    {{ form.tracker_type(class="form-control form-control-lg") }}
                </div>
				<div class="form-group">
                    {{ form.tracker_enabled.label(class="form-control-label") }}
                    {{ form.tracker_enabled(class="form-control form-control-lg") }}
                </div>		
				<div class="form-group">
                    {{ form.tracker_force_ssl.label(class="form-control-label") }}
                    {{ form.tracker_force_ssl(class="form-control form-control-lg") }}
                </div>	
				<div class="form-group">
                    {{ form.tracker_upload_delay_secs.label(class="form-control-label") }}
                    {{ form.tracker_upload_delay_secs(class="form-control form-control-lg") }}
                </div>		
				<div class="form-group">
                    {{ form.tracker_rsskey.label(class="form-control-label") }}
                    {{ form.tracker_rsskey(class="form-control form-control-lg") }}
                </div>
			</fieldset>
	<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div> 
		</form>
	</div>
{% endblock content %}

